# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
.mypy_cache/
.pytest_cache/

# Data and artifacts
data/
*.csv
*.wav
*.mp3
*.flac
*.m4a
data/raw/
data/interim/
data/processed/
models/
*.joblib
*.pkl
*.pickle
*.pth
checkpoints/

# Notebooks
.ipynb_checkpoints/

# Logs
logs/


