option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: emoryhacks/api/main:app
  aws:elasticbeanstalk:application:environment:
    PYTHONUNBUFFERED: 1
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_install_dependencies.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /var/app/venv/*/bin/activate
      pip install -r requirements.txt



